body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #333;
    touch-action: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
    margin: 0;
}

button {
    position: fixed;
    left: calc(50% - 50px);
    top: calc(50% - 25px);
    background-color: white;
    opacity: 0.3;
    color: black;
    font-size: 16px;
    height: 50px;
    width: 100px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
  }

button:hover {
    background-color: #0A3837;
    color: #58ADAD;
    opacity: 1;
}

#final {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: auto;
    overflow: scroll;
    max-height: 100%;
}
